:root {
    --background: #202024;
    --main-grey: rgba(17, 17, 17, 0.9);
    --secondary-grey: rgba(17, 17, 17, 0.9);
    --light-grey: #3c3c44;
    --gold: #965f33;
    --offWhite: #e6e6e6;
    --hover: rgba(255, 255, 255, 0.25);
  }

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: var(--offWhite);
    background-color: var(--background);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-radius: 5px;
    cursor: pointer;
    background: var(--secondary-grey);
    font-size: 1.3em;
    padding: 10px 20px;
    font-weight: bold;
    padding: 0.5em;
    color: var(--offWhite);
    border-color: var(--offWhite);
}

button:hover{
    background: var(--light-grey);
    transition: 0.4s;
    
}


/* NAV BAR */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right; 
    background-color: var(--main-grey);
    border-bottom: 5px solid var(--gold);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#logo{
    text-decoration: none;
    padding: 0px 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--offWhite);
    
}

#logo:hover{
    color: var(--hover);
    transition: 0.3s;
}

nav ul li{
    display: inline-block;
    padding: 5px 30px 5px;
}

nav ul li a{
    text-decoration: none;
    color: var(--offWhite);
    font-size: 1.3em;
    font-weight: bold;
    
}

nav ul li a:hover{
    color: var(--hover);
    transition: 0.3s;
}


/* Main page */
.photo{
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../img/background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    min-height: 70vh;
    overflow: hidden;
    border-bottom: 5px solid var(--gold);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.main_page{
    text-align: center;
    
}

#name{
    font-size: 4em;
}

#subTitle{
    font-size: 3.0em;
}

.buttons_main{
    margin-top: 8vh;
    margin-bottom: 7vh;
}

.btn_project{
    margin-right: 4vh;
    text-align: center;
}

.btn_resume{
    margin-left: 4vh;
    text-align: center;
}

.git_logo{
    width: 40px;
    padding: 0px 5vh 0px 5vh;
}

.linkedin_logo{
    width: 40px;
    padding: 0px 5vh 0px 5vh;
}

.email_logo{
    width: 40px;
    padding: 0px 5vh 0px 5vh;
}

.git_logo:hover{
    transition: all 0.3s linear;
    transform: scale(1.5);
}

.linkedin_logo:hover{
    transition: all 0.3s linear;
    transform: scale(1.5);
}

.email_logo:hover{
    transition: all 0.3s linear;
    transform: scale(1.5);
}

.email{
    margin-top: 10vh;
    font-weight: bold;
    font-size: 1.5em;
}
.link_underline:hover{
    text-decoration-line: underline;
    transform: 0.3s;
}


/* My work */
.myWork{
    border-bottom: 5px solid var(--gold);
    font-size: 20px;
    margin: 5vh;
}
.myWork_title{
    font-size: 30px;
    text-align: center;
}

.myWork_name{
    text-decoration-line: underline;
}

/* MODIFY WHEN 2+ PROJECTS

.myWork_description{

}

.mywork_repo{

}

.myWork_langauge{

} 

*/


/* About */
.about{
    text-align: center;
    margin: 5vh;
}

.about_title{
    font-size: 30px;
}

.about_txt{
    font-size: 20px;
    padding-left: 25%;
    padding-right: 25%;
}

/* Contact */
.contact{
    text-align: center;
    
}

.contact_title{
    font-size: 30px;
}

.contact_txt{
    font-size: 20px;
    padding: 0% 25% 3% 25%;

}